<main class="main">
  <div class="inner">
    <div class="greeting">
      <% if user_signed_in? %>
        <%= "こんにちは" %>
        <%= link_to "#{current_user.nickname}", user_path(current_user), class: :greeting__link %>
        先生
      <% end%> 
    </div>
  <div class="card__wrapper">
      <%= render partial: "post", collection: @posts %>
    </div>
  </div>
</main>
