<main class="main">
  <div class="inner">
    <div class="greeting">
    
      <%= "こんにちは" %>
      <% if user_signed_in? %>
        <%= link_to "#{current_user.nickname}先生", root_path, class: :greeting__link %>
      <% end%> 
    </div>
  <div class="card__wrapper">
      <%= render partial: 'post', collection: @posts %>
    </div>
  </div>
</main>
