/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

.main a{
  text-decoration: none;
}

.main a:visited {
  color: #1b00ee;
}

.breadcrumbs a{
  text-decoration: none;
}

.breadcrumbs a:visited {
  color: #1b00ee;
}

.notification-main a{
  text-decoration: none;
}

.notification-main a:visited{
  color: #1b00ee;
}

.follow-left {
  text-decoration: none;
}

.follow-left a:visited{
  color: #1b00ee;
}

.info-introduce a{
  text-decoration: none;
}

.info-introduce {
  color: #1b00ee;
}

.actions a{
  text-decoration: none; 
}

.actions a:visited{
  color: #fff;
}

/* スライドショー */
#box{
  height: 600px;
}

.image1 {
  background-image: url(#{@post.images[0]});
}

.image2 {
  background-image: url(@post.images[1]);
}
.image3 {
  background-image: url(@post.images[2]);
}
.image4 {
  background-image: url(@post.images[3]);
}
.image5 {
  background-image: url(@post.images[4]);
}

.slick-next {
  right: 10px !important;
  z-index: 100;
}

