/* ヘッダー */

.header {
  background-color: #2f496e;
  padding: 10px 0;
}

.header a:visited {
  color: #fff;
}

.inner {
  width: 1024px;
  margin: 0 auto;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 70px;
  width: auto;
}

.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  border: 1px #fff solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin-left: 25px;
}

.nav__btn:hover{
  color: #fff;
  background: #2988bc;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  border: 1px #fff solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin-left: 25px;
}

.nav__right{
  display: flex;
}

.nav__logout:hover{
  color: #fff;
  background: #2988bc;
}

.nav-icon{
  display: flex;
}


.btn-bell i{
  color: white;
}

.btn-user i{
  color: white;
}

.btn-user a{
  text-decoration: none;
}

.btn-default a{
  text-decoration: none;
}

.size{
  font-size:1.4em;
}

.btn-default{
  position: relative;
  margin-left: 25px;
}

.btn-user{
  margin-left: 25px;
}

.bottom-right {
  position: absolute;
  color: #f9ba32;
  top: 15px;
  left: 15px;
}
