/* フォーム周り */

.actions{
  padding: 40px;
  display: flex;
  justify-content: center;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background-color: #2988BC;
  border: 1px #2988BC solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* メイン */
.main {
  background-color: #f4eade;
  height: 100vh;
}

.breadcrumbs{
  background-color: #f4eade;
  padding: 30px 0 10px 100px;
}

.input-search {
  width: 500px;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.search__btn{
  padding: 0.4em 1.6em;
  height: 45px;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background-color: #2988BC;
  border: 1px #2988BC solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}


.search__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.greeting{
  padding-top: 48px;
  margin-bottom: 20px;

}

.greeting__link{
  text-decoration: none;
}

.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 161px);
}

.card__body{
  background-color: #fff;
  padding:30px;
  border-radius: 15px;
  height: 400px;
  width: auto;
}

.card {
  width: calc((100% - 50px) / 3);
  margin-bottom: 40px;
}

.card__img {
  margin-bottom: 10px;
  height: 180px;
  width: auto;
}

.card__title {
  display: flex;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
  text-decoration: none;
  
}

.card__summary {
  font-size: 16px;
  margin-bottom: 10px;
}

.card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}

/* 詳細ページ */
.post__wrapper{
  min-height: calc(100vh - 161px);
}

.post__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.post__user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}

.post__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}

.post__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 8px;
}

.detail__title{
  font-size: 20px;
  font-weight: bold;
}

.post__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.post__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.post__btn:hover{
  color: #fff;
  background: #999;
}

.post__comments{
  background-color: #f6f6f6;
  padding: 20px;
  margin: 28px 0 40px 0;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}


/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}

.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}

.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}

.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}

.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .kyoyu_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .kyoyu_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}

 /* いいねボタン */
#like-button{
  text-decoration: none;
}

/* 新規登録 */
.registration-main {
  width: 100%;
  min-width: 800px;
  min-height: 100vh;
  height: 100%;
  background-color: #f4eade;
  display: flex;
  justify-content: center;
}

.form-wrap {
  width: 50%;
  height: 100%;
  background-color: white;
  margin: 20px 0;
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.info-text {
  color: #888;
  font-size: 15px;
  margin-top: 3px;
}

.form-info-header {
  font-weight: bold;
}

.form-info-text {
  font-size: 15px;
}

.input-name-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-name {
  width: 130px;
  margin: 5px 20px 0 20px;
  height: 48px;
  line-height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  resize: none;
}

.field_with_errors {
  display: contents;
}
