/* フォーム周り */

.actions{
  padding: 40px;
  display: flex;
  justify-content: center;
}

.action{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  user-select: none;
  background-color: #2988BC;
  border: 1px #2988BC solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  width: 100px;
  text-align: center;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

.form img{
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 150px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-right: 15px;
}

/* メイン */
.main {
  height: 100%;
  width: 100%;
  min-width: 800px;
  min-height: 100vh;
  background-color: #f4eade;
}

.breadcrumbs{
  background-color: #f4eade;
  padding: 30px 0 30px 100px;
}

.greeting{
  padding-top: 48px;
  margin-bottom: 20px;
}

.greeting a{
  color: black;
}

.greeting a:hover{
  color: black;
  opacity: 0.7;
}

.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}

.page-heading-show{
  font-size: 30px;
}

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: calc(100vh - 161px);
}

.card__body{
  background-color: #fff;
  max-height: 450px;
  width: auto;
  box-shadow: 5px 5px 5px #ccc;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.card {
  width: calc((100% - 50px) / 3);
  margin-bottom: 40px;
}

.user-image img{ 
  height: 57px;
  width: 57px;
  object-fit: cover;
  border-radius: 150px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-right: 30px;
}

.user-image img:hover{
  opacity: 0.5;
}

.user__name{
  margin-right: 40px;
}

.user__name a{
  color: black;
}

.user__name a:hover{
  opacity: 0.5;
}

.card__img {
  margin-bottom: 10px;
  height: 200px;
  width: 324px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.card-img:hover{
  opacity: 0.5;
}

.card__title {
  font-size: 20px;
  font-weight: bold;
}

.card__title{
  color: black;
}

.card__title a:hover{
  color: black;
  opacity: 0.5;
}

.card_sub_title {
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.card_sub_title a:hover{
  opacity: 0.5;
}

.card__summary {
  font-size: 16px;
  margin-bottom: 10px;
}

.card__header {
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card__name{
  display: flex;
  align-items: center;
  padding: 0 0 10px 15px;
  border-bottom: 1px solid #ddd;
}

.card__title{
  margin-right: 16px;
}

.bi-gear{
  color: black;
}

.bi-gear:hover{
  opacity: 0.5;
}

.card-footer{
  display: flex;
  align-items: center;
}

.paginate{
  padding-bottom: 24px;
}

 /* いいね周り */
.flex-likes{
  display: flex;
}

.like-btn{
  margin: 20px;
}

.likes-icon{
  margin-right: 20px;
}

.likes-count{
  color: #536371;
  margin-right: 30px;
}

.bi-suit-heart-fill{
  color: red;
}

.bi-suit-heart{
  color: red;
}

/* コメント周り */
.chat-btn{
  display: flex;
}

.chat-icon{
  margin-right: 20px;
}

.chat-count{
  color: #536371;
}

.bi-chat-dots{
  color: black;
}

.bi-chat-dots:hover{
  opacity: 0.5;
}

.chat-count:hover{
  opacity: 0.5;
}


.field{
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-comment {
  width: 70%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

/* 詳細ページ */
.show__header {
  display: block;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.show__user-image img{ 
  height: 57px;
  width: 57px;
  object-fit: cover;
  border-radius: 150px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.user-image img:hover{
  opacity: 0.5;
}

.show__user__name{
  text-decoration: none;
  font-size: 25px;
}

.show__user__name a:hover{
  opacity: 0.5;
}

.post__show__title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 10;
  margin: 20px 0;
}

.post__image{
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center;
}

.post__image img{
  height: 400px;
  width: auto;
  margin-bottom: 15px
}

.post__detail{
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}

.detail__title{
  font-size: 25px;
  font-weight: bold;
}

.post__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}

.post__btn:hover{
  color: #fff;
  background: #999;
}

/* コメント周り */

.post__comments{
  background-color: #f6f6f6;
  padding: 30px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  padding: 20px 0 40px 0;
}

.h4{
  margin-left: 50px
}

.comments_lists{
  padding-left: 20px;
  background-color: #fff;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

.comment-main{
  margin: 24px 0 24px 0;
}

.comment-form{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

#comment_content.input-class{
  width: 340px;
  height: 70px;
}

#comment_content.input-comment{
  width: 350px;
  height: 50px;
}

.comment-card{
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: #ffffff;
  border: 1px solid #ddd;
}

.comments{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 10px 0;
  font-size: 20px
}

.table__2{
  border-collapse: collapse;
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

.table__col5{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 20%;
  padding: 8px 8px 8px 15px;
  height: 20%;
}

.table__col6{
  text-align: left;
  border: 1px solid #ddd;
  border-collapse: collapse;
  background-color: #f2f2f2;
  width: 80%;
  padding: 16px 15px;
}

.table__3{
  border-collapse: collapse;
  width: 100%;
  height: 1000px;
  margin: 0 auto;
}

.table__col7{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 20%;
  padding: 8px 8px 8px 15px;
  height: 20%;
}

.table__col8{
  text-align: left;
  border: 1px solid #ddd;
  border-collapse: collapse;
  background-color: #f2f2f2;
  width: 80%;
  padding: 16px 15px;
}

.table__col9{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 20%;
  padding: 8px 8px 8px 15px;
  height: 60%;
}

.table__col10{
  text-align: left;
  border: 1px solid #ddd;
  border-collapse: collapse;
  background-color: #f2f2f2;
  width: 80%;
  padding: 16px 15px;
  height: 60%
}

/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}

.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 100%;
  height: 410px;
}

.table tbody{
  box-shadow: 15px 20px 20px #ccc;
}

.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 30%;
  padding: 8px 8px 8px 15px;
  height: 20%;
}

.table__col2{
  text-align: left;
  border: 1px solid #ddd;
  border-collapse: collapse;
  background-color: #f2f2f2;
  width: 70%;
  padding: 16px 15px;
}

.table__col3{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 30%;
  padding: 8px 8px 8px 15px;
}

.table__col4{
  text-align: left;
  border: 1px solid #ddd;
  border-collapse: collapse;
  background-color: #f2f2f2;
  width: 70%;
  padding: 16px 15px;
}

.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .kyoyu_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .kyoyu_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}

/* 新規登録・ユーザー情報編集*/
.registration-main {
  height: 100%;
  width: 100%;
  min-width: 800px;
  min-height: 100vh;
  background-color: #f4eade;
  display: flex;
  justify-content: center;
}

.form-wrap {
  width: 50%;
  height: 100%;
  background-color: white;
  margin: 20px 0 40px 0;
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
}

.form-group {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.form-row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.input-class {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

#post_introduction.input-class{
  height: 100px;
}

#post_development.input-class{
  height: 300px;
}

#post_summary.input-class{
  height: 100px;
}

.info-text {
  color: #888;
  font-size: 15px;
  margin-top: 3px;
}

.form-info-header {
  font-weight: bold;
}

.form-info-text {
  font-size: 15px;
}

.input-name-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-name {
  width: 130px;
  margin: 5px 20px 0 20px;
  height: 48px;
  line-height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  resize: none;
}

.field_with_errors {
  display: contents;
}


.user-profile{
  display: flex;
  margin-bottom: 36px;
}

.profile-card{
  height: 400px;
  width: 250px;
  background-color: #fff;
  box-shadow: 15px 20px 20px #ccc;
  border-radius: 5px;
}

.card-header{
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #ddd;
  background: #f2f2f2;
  border-radius: 5px 5px 0 0 ;
  display: flex;
  flex-direction: column;
}

.card-header span{
  display: flex;
  justify-content: flex-end;
  font-size: 15px
}

.card-image img{
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 150px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.card-footer{
  border-top: 1px solid #ddd;
  background: #f2f2f2;
  padding: 10px;
  border-radius: 0 0 5px 5px;
}

.profile-right{
  width: 100vw;
  margin-left: 30px;
}
.table{
  height: 430px;
}

.table tbody{
  box-shadow: 15px 20px 20px #ccc;
}

.flex-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ユーザー情報編集 */
#user_introduce.input-class{
  height: 250px;
}

/* フォロワー */
.follow-header{
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #f5f5f5;
}

.info-nickname{
  margin-bottom: 15px;
}
/* 投稿詳細ページ */
.post-title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 10px 0;
}

.table_post{
  border-collapse: collapse;
  margin: 0 auto;
  width: 90%;
  height: 200px;
}

.table_col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 30%;
  padding: 8px 8px 8px 15px;
  height: 20%;
}

.table_col2{
  text-align: left;
  border: 1px solid #ddd;
  border-collapse: collapse;
  background-color: #f2f2f2;
  width: 70%;
  padding: 16px 15px;
}

.table_col3{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 30%;
  padding: 8px 8px 8px 15px;
}

.table_col4{
  text-align: left;
  border: 1px solid #ddd;
  border-collapse: collapse;
  background-color: #f2f2f2;
  width: 70%;
  padding: 16px 15px;
}

.table_col5{
  text-align: center;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 3%;
  padding: 8px;
  height: 20%;
}

.table_col6{
  text-align: left;
  border: 1px solid #ddd;
  border-collapse: collapse;
  background-color: #f2f2f2;
  width: 70%;
  padding: 16px 15px;
  height: 20%;
}

.table_class{
  border-collapse: collapse;
  margin: 0 auto;
  width: 90%;
  height: 1000px;
}

.table_col7{
  text-align: center;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 3%;
  padding: 8px;
  height: 60%;
}

.table_col8{
  text-align: left;
  border: 1px solid #ddd;
  border-collapse: collapse;
  background-color: #f2f2f2;
  width: 70%;
  padding: 16px 15px;
  height: 60%;
}

.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.post__image img{
  width: 100%;
}

.post-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.trush-icon{
  margin-left: 15px;
}

/* main */
.title-contents {
  width: 100vw;
  background-image: url('school.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 8vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}


.select-reason-contents {
  padding: 5vh 15vw;
}

.select-reason-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.select-reason-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.reason-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reason-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.list-pict {
  margin-bottom: 20px;
  width: 100%;
}

.reason-list-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color: #3ccace;
  color: #fff;
}

.reason-list-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

.reason-list-blue-text {
  color: #3ccace;
}

.reason-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* 特徴 */
.feature-contents {
  padding: 5vh 15vw;
  background-color: #f2f2f2;
}

.feature-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.feature-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.feature-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature-lists img{
  height: 200px;
}

.feature-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-list-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
}

.feature-list-description {
  font-size: 18px;
  margin-top: 20px;
}

